stacks/engineering/n8n/workflows/team-email-triage.json
{
  "name": "team-email-triage",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "minutes", "minutes": 5}]
        }
      },
      "name": "IMAP poll every 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "protocol": "imap",
        "host": "={{ $env.TEAM_IMAP_HOST }}",
        "port": 993,
        "user": "={{ $env.TEAM_IMAP_USER }}",
        "password": "={{ $env.TEAM_IMAP_PASSWORD }}",
        "ssl": true,
        "mailbox": "INBOX",
        "action": "readUnseen"
      },
      "name": "Fetch unread from shared inbox",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENAI_BASE_URL }}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer {{ $env.OPENAI_API_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "model", "value": "opencode-go/minimax-m2.5"},
            {"name": "messages", "value": "=[{\"role\":\"system\",\"content\":\"Categorise the email as one of: Client, Internal, Personal, Spam. Provide a one-line summary. Reply as JSON: {\\\"category\\\":\\\"...\\\",\\\"summary\\\":\\\"...\\\",\\\"urgency\\\":\\\"low|medium|high\\\"}.\"},{\"role\":\"user\",\"content\":\"FROM: {{ $json.from }}\\nSUBJECT: {{ $json.subject }}\\n\\n{{ $json.text }}\"}]"}
          ]
        }
      },
      "name": "Categorise with minimax-m2.5 (OpenCode Go)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://vikunja:3456/api/v1/projects",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "title", "value": "Triage: {{ $json.subject }}"},
            {"name": "description", "value": "FROM: {{ $('Fetch unread from shared inbox').item.json.from }}\\n\\nSUMMARY: {{ $('Categorise with minimax-m2.5 (OpenCode Go)').item.json.choices[0].message.content }}\\n\\nBODY: {{ $('Fetch unread from shared inbox').item.json.text }}"},
            {"name": "assignees", "value": "=[\"team\"]"},
            {"name": "due_date", "value": "={{ $('Categorise with minimax-m2.5 (OpenCode Go)').item.json.urgency === 'high' ? $now.plus(4, 'hours').toISO() : $now.plus(1, 'day').toISO() }}"}
          ]
        }
      },
      "name": "Create Vikunja task (assignees=[team])",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "IMAP poll every 5 min": {"main": [[{"node": "Fetch unread from shared inbox", "type": "main", "index": 0}]]},
    "Fetch unread from shared inbox": {"main": [[{"node": "Categorise with minimax-m2.5 (OpenCode Go)", "type": "main", "index": 0}]]},
    "Categorise with minimax-m2.5 (OpenCode Go)": {"main": [[{"node": "Create Vikunja task (assignees=[team])", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "team"}, {"name": "llm"}, {"name": "opencode-go"}]
}
