stacks/engineering/n8n/workflows/team-followup-drafter.json
{
  "name": "team-followup-drafter",
  "nodes": [
    {
      "parameters": {
        "rule": {"interval": [{"field": "hours", "hours": 4}]}
      },
      "name": "Cron every 4h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://vikunja:3456/api/v1/tasks?project_id=2&done=false",
        "options": {}
      },
      "name": "Pull open Vikunja tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENAI_BASE_URL }}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer {{ $env.OPENAI_API_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "model", "value": "opencode-go/deepseek-v4-flash"},
            {"name": "messages", "value": "=[{\"role\":\"system\",\"content\":\"Draft a polite follow-up reply for this open task. Keep it under 120 words. Do not invent facts not in the description. Mark placeholders as <TODO>.\"},{\"role\":\"user\",\"content\":\"TASK TITLE: {{ $json.title }}\\nDESCRIPTION: {{ $json.description }}\"}]"}
          ]
        }
      },
      "name": "Draft reply with deepseek-v4-flash",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://vikunja:3456/api/v1/projects",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "title", "value": "Draft: {{ $('Pull open Vikunja tasks').item.json.title }}"},
            {"name": "description", "value": "DRAFT:\\n{{ $('Draft reply with deepseek-v4-flash').item.json.choices[0].message.content }}\\n\\n---\\n\\nORIGINAL TASK:\\n{{ $('Pull open Vikunja tasks').item.json.description }}"},
            {"name": "assignees", "value": "=[\"team\"]"}
          ]
        }
      },
      "name": "Place draft in /_drafts/ for human review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Cron every 4h": {"main": [[{"node": "Pull open Vikunja tasks", "type": "main", "index": 0}]]},
    "Pull open Vikunja tasks": {"main": [[{"node": "Draft reply with deepseek-v4-flash", "type": "main", "index": 0}]]},
    "Draft reply with deepseek-v4-flash": {"main": [[{"node": "Place draft in /_drafts/ for human review", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "team"}, {"name": "llm"}, {"name": "opencode-go"}]
}
