stacks/engineering/n8n/workflows/team-weekly-summary.json
{
  "name": "team-weekly-summary",
  "nodes": [
    {
      "parameters": {
        "rule": {"interval": [{"field": "cronExpression", "expression": "0 17 * * 5"}]}
      },
      "name": "Cron Friday 17:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://vikunja:3456/api/v1/projects",
        "options": {}
      },
      "name": "List all team projects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENAI_BASE_URL }}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer {{ $env.OPENAI_API_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "model", "value": "opencode-go/glm-5.1"},
            {"name": "messages", "value": "=[{\"role\":\"system\",\"content\":\"Aggregate the team projects into a weekly summary. For each project list: open tasks, completed tasks, Gantt highlights (upcoming milestones), blockers. Markdown. Under 600 words.\"},{\"role\":\"user\",\"content\":\"PROJECTS: {{ $('List all team projects').item.json }}\"}]"}
          ]
        }
      },
      "name": "Summarise with glm-5.1 (OpenCode Go)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://vikunja:3456/api/v1/projects",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "title", "value": "Weekly summary — {{ $now.format('yyyy-MM-dd') }}"},
            {"name": "description", "value": "={{ $('Summarise with glm-5.1 (OpenCode Go)').item.json.choices[0].message.content }}"},
            {"name": "assignees", "value": "=[\"team\"]"}
          ]
        }
      },
      "name": "Create /_reports/weekly/ Vikunja project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Cron Friday 17:00": {"main": [[{"node": "List all team projects", "type": "main", "index": 0}]]},
    "List all team projects": {"main": [[{"node": "Summarise with glm-5.1 (OpenCode Go)", "type": "main", "index": 0}]]},
    "Summarise with glm-5.1 (OpenCode Go)": {"main": [[{"node": "Create /_reports/weekly/ Vikunja project", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "team"}, {"name": "llm"}, {"name": "opencode-go"}]
}
